
@font-face {
font-family: "HelveticaNeue";
src: local("HelveticaNeue"),
 url("./fonts/HelveticaNeue.ttc") format("truetype");
font-weight: bold;
}

body {
  font-family:"HelveticaNeue";
  
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
